<div class="container-fluid">
<div class="col-md-12">
<h2 id="title">Grocery List</h2>
</div>

<div class="col-md-6">
<ul id ="noteaten">
{{#each burgers}}
{{#unless this.devoured}}
<li>
<p data-id="{{this.id}}">{{burger_name}}&nbsp&nbsp&nbsp<button data-id="{{this.id}}" class="btn btn-primary">Mark Purchased</button></p>
</li>
{{/unless}}
{{/each}}
</ul>
</div>


<h3 id="title">Purchased</h3>
<div class="col-md-6">
<ul id ="eaten" ">
{{#each burgers}}
{{#if this.devoured}}
<li>
<p>{{burger_name}}&nbsp&nbsp&nbsp<button data-id="{{this.id}}" class="btn btn-danger">Remove Item</button></p>
</li>
{{/if}}
{{/each}}
</ul>
</div>

<div class="col-md-12">
<h2>Add An Item</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Enter Item Name:</label>
    <input type="text" id="newBurger" name="newBurger">
  <button class="btn btn-success" id="submit" type="submit">Add Item</button>
  </div>
  </div>

</form>
</div>
